@media screen and (max-width: 750px) {
  .Series-title:hover {
    transform: none !important;
  }
  .Icon-container {
    flex-wrap: wrap !important;
    gap: 0.2em;
  }
  .Icon {
    width: 22% !important;
  }
  .Icon-image,
  .Icon-image-selected {
    font-size: 12vw !important;
  }
  .Icon-image:hover {
    transform: none !important;
  }
  .Footer {
    margin: 3em 0em 2em 0em !important;
  }
}

.App {
  text-align: center;
}

.Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Title-image {
  margin: 1em 1em 0em 1em;
  display: inline;
}

.Title-text {
  color: #7bb049;
  font-size: 4em;
  font-weight: bold;
}

.Series {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 0em 1em 0em 1em;
  border-radius: 2em;
}

.Series-title {
  width: 6em;
  border-radius: 2em;
  margin: 0.5em 0em 0em 0em;
  padding: 0em 1em 0.1em 1em;
  color: #faee00;
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
  user-select: none;
  transition: all 0.7s ease;
}

.Series-title:hover {
  transform: scale(1.1) perspective(1em);
}

.Icon-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 1em 0em 1em 0em;
}

.Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 25%;
  min-width: 0;
  margin: 1em 1em 0em 1em;
  object-fit: cover;
}

.Icon-image,
.Icon-image-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  margin: 0em 0em 0.2em 0em;
  border-radius: 50%;
  filter: saturate(0%);
  transition: all 0.7s ease;
  cursor: pointer;
  color: white;
  font-size: 6vw;
}

.Icon-image:hover {
  transform: scale(1.1) perspective(1em);
}

.Icon-image-selected {
  filter: saturate(100%);
  transform: scale(1.1) perspective(1em);
}

.Icon-title {
  color: #606060;
  font-weight: bold;
  font-size: small;
}

.Footer {
  color: #606060;
  margin: 3em 0em 1em 0em;
}
